@using Microsoft.Marketplace.SaaS.Models
@using CommandCenter.Models
@model CommandCenter.Models.AzureSubscriptionProvisionModel

@{
    ViewData["Title"] = "Index";
}
<p class="h2 mb-4 text-center">Let's configure your subscription...</p>


@if (Model == default)
{
<span class="text-danger">@ViewBag.message, please check logs.</span>
}
else
{
<hr />

<span class="text-danger">@Html.ValidationSummary(false)</span>

<form asp-controller="LandingPage" asp-action="Index">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="landingPageComponents">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            Customer's contact information;
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="accordion-body">
                                <div class="panel panel-default">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="card-title">
                                                    <p class="fw-bold">Information from claims</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayNameFor(model => model.EmailFromClaims):</label>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayFor(model => model.EmailFromClaims) </label>
                                                            <input asp-for="EmailFromClaims" type="hidden" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayNameFor(model => model.NameFromOpenIdConnect):</label>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayFor(model => model.NameFromOpenIdConnect) </label>
                                                            <input asp-for="NameFromOpenIdConnect" type="hidden" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="card-title">

                                                    <p class="fw-bold">Information from Graph API</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayNameFor(model => model.EmailFromGraph):</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayFor(model => model.EmailFromGraph) </label>
                                                            <input asp-for="EmailFromGraph" type="hidden" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayNameFor(model => model.NameFromGraph):</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayFor(model => model.NameFromGraph) </label>
                                                            <input asp-for="NameFromGraph" type="hidden" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayNameFor(model => model.UserPrincipalName):</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="form-label">@Html.DisplayFor(model => model.UserPrincipalName) </label>
                                                            <input asp-for="UserPrincipalName" type="hidden" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-title">

                                                <p class="fw-bold">Information from Fulfillment API</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="form-label">@Html.DisplayNameFor(model => model.PurchaserUPN):</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="form-label">@Html.DisplayFor(model => model.PurchaserUPN) </label>
                                                        <input asp-for="PurchaserUPN" type="hidden" class="form-control" />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="form-label">@Html.DisplayNameFor(model => model.BeneficiaryUPN):</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="form-label">@Html.DisplayFor(model => model.BeneficiaryUPN) </label>
                                                        <input asp-for="BeneficiaryUPN" type="hidden" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-title">
                                                <p class="fw-bold">Customer contact email</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="form-label">@Html.DisplayNameFor(model => model.PurchaserEmail):</label>
                                                        <input asp-for="PurchaserEmail" type="email" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Just to carry over the subscription status, so we can determine if we are here for initial
        provisioning or configuration later in the life of the subscription*@
    <input asp-for="SubscriptionStatus" type="hidden" class="form-control" />

    <button type="submit" class="btn btn-primary btn-block m-3">Submit</button>

</form>
}

@section Scripts
{
    <script>

    </script>
}
